:root {
  --main-bg-color: white;
  --main-fg-color: black;
  --main-bg-color-dark: #0e0e0e;
  --main-fg-color-dark: white;
  --main-alternate-bg-color: #efefef;
  --main-alternate-fg-color: #0a0a0a;
  --main-margin: 2em;
  --text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
  --text-shadow-color: white;
  --muted-bg-color: #707173;
  --muted-bg-color-dark: #131313;
  --muted-bg-color-darkened: #555;
  --muted-fg-color: white;
  --poppy-primary-color: #1f99d2;
  --poppy-primary-color-alt: #2fc2e3;
  --poppy-secondary-color: #d87d28;
  --poppy-secondary-color-alt: #d89a28;
  --poppy-bg-color: var(--poppy-primary-color);
  --poppy-fg-color: white;
  --header-bg-color: var(--poppy-bg-color);
  --header-fg-color: var(--poppy-fg-color);
  --dl-dt-bg-color: var(--poppy-secondary-color);
  --dl-dt-fg-color: var(--header-fg-color);
  --dl-dt-header-color: var(--main-fg-color);
  --dl-border-color: var(--main-alternate-bg-color);
  --table-th-bg-color: var(--header-bg-color);
  --table-th-fg-color: var(--header-fg-color);
  --table-border-color: var(--muted-bg-color);
  --table-alternate-border-color: var(--main-alternate-bg-color);
  --table-bg-color: var(--main-bg-color);
  --table-alternate-bg-color: var(--main-alternate-bg-color);
  --fatal-color: #c12a1c;
  --warning-color: #d87d28;
  --success-color: #c7d32c;
  --fatal-contrast-color: white;
  --warning-contrast-color: white;
  --success-contrast-color: black;
}

body, html {
    background: var(--main-bg-color);
    color: var(--main-fg-color);
    font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

body > main {
    margin: 0 var(--main-margin);
}

code, pre {
    font-size: inherit;
    font-family: ui-monospace, SFMono-Regular, SF Mono, JetBrainsMono, Consolas, monospace;
}

pre {
    overflow-x: auto;
    background: var(--main-alternate-bg-color);
    padding: 0.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body > header {
    position: relative;
    z-index: 1;
    padding: 0;
}

header .headertop {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 0 0.5em 0;
}

header .search {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    width: calc(100% - (var(--main-margin) * 2));
}

header .search input[type=search] {
    flex: 1 1 auto;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    border: 1px solid var(--muted-bg-color);
}

header .search input[type=submit] {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
}

header > nav {
    background: var(--muted-bg-color);
    color: var(--muted-fg-color);
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.5em var(--main-margin);
}

header > nav :first-child {
    flex: 1 1 auto;
}

a.logo {
    padding: 0;
    text-decoration: none;
}

.authenticated-user {
    padding: 3px 0.5em;
    border-radius: 5px;
    color: var(--muted-fg-color);
}

.authenticated-user:hover {
    background: var(--muted-bg-color-darkened);
}

.breadcrumb + .breadcrumb::before {
    content: "»";
}

.breadcrumb a {
    padding: 3px 0.5em;
    border-radius: 5px;
    color: var(--muted-fg-color);
}

.breadcrumb a:hover {
    background: var(--muted-bg-color-darkened);
}

.statusbadge {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.75rem;
    margin: 0;
}

.statusbadge label {
    background: var(--main-bg-color);
    color: var(--main-fg-color);
    margin: 0;
    padding: 3px 5px;
    border-radius: 3px 0 0 3px;
}

.statusbadge label a {
    color: var(--main-fg-color);
}

.statusbadge output {
    margin: 0;
    padding: 0;
}

.statusbadge output a {
    display: block;
    background: var(--muted-bg-color-darkened);
    font-weight: bold;
    color: var(--muted-fg-color);
    margin: 0;
    padding: 3px 5px;
    border-radius: 0 3px 3px 0;
}

.statusbadge.ok output a {
    background: var(--success-color);
    color: var(--success-contrast-color);
}

.statusbadge.warn output a {
    background: var(--warning-color);
    color: var(--warning-contrast-color);
}

.statusbadge.fatal output a {
    background: var(--fatal-color);
    color: var(--fatal-contrast-color);
}

.serverstatus {
    padding: 0.5em;
    border: 2px solid var(--muted-bg-color-darkened);
    border-radius: 5px;
    margin: 1em var(--main-margin) 0 var(--main-margin);
    box-sizing: border-box;
}

.serverstatus ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.serverstatus li {
    padding: 0;
    margin: 0.25em 0;
}

.serverstatus.fatal {
    border-color: var(--fatal-color);
}

.serverstatus.warn {
    border-color: var(--warning-color);
}

.serverstatus a {
    font-size: 0.75rem;
}

.user_index_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20em);
    justify-content: space-around;
    grid-gap: 1em;
}

.user_index_list dt span:before,
.user_index_list ul a span:before {
    content: "(";
}

.user_index_list dt span:after,
.user_index_list ul a span:after {
    content: ")";
}

.user_index_list dl {
    border: 1px solid var(--dl-border-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
}

.user_index_list dt {
    color: var(--main-fg-color);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0.5em;
    border-bottom: var(--poppy-secondary-color) solid 3px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.user_index_list dt a {
    color: var(--dl-dt-header-color);
}

.user_index_list dd {
    padding: 1em 0.5em 0.5em 1em;
    margin: 0;
}

.user_index_list dd.user_description {
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid var(--dl-border-color);
}

.user_index_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user_index_list li {
    margin: 0.5em 0.5em;
    padding: 0.1em;
}

.user_index_list li span {
    font-size: 0.8em;
    font-weight: bold;
}

table > caption {
    text-align: left;
    font-weight: bold;
}

table.main {
    margin: 0.5em 0;
    border-spacing: 0;
    border: 1px solid var(--table-border-color);
    border-radius: 5px;
    width: 100%;
}

table.main > * > tr > th {
    background: var(--table-th-bg-color);
    color: var(--text-shadow-color);
    border-bottom: 1px solid var(--table-border-color);
    padding: 0.15em 0.4em;
    text-shadow: var(--text-shadow);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
}

table.main > tbody > tr.even {
    background: var(--table-bg-color);
}

table.main > tbody > tr.odd {
    background: var(--table-alternate-bg-color);
}

td.file a {
    display: block;
}
td.file dl {
    margin: 0 0 0 1em;
    padding: 0;
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 0.5em;
}
td.file dl.hashspec {
    display: flex;
}
td.file dl.hashspec dd {
    word-break: break-all;
}
td.file dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
td.file dt:after {
    content: ": ";
}
td.file dd {
    margin: 0;
    padding: 0;
}

table.main > tbody > tr > td.toxresults,
table.main > tbody > tr > td.releases {
    padding: 0;
}

td.status {
    text-align: right;
}

td.status a {
    white-space: nowrap;
}

table.inlinetoxresults {
    border-spacing: 0;
    margin: 0.25em 0;
    padding: 0;
    border: none;
    width: 100%;
}

table.inlinetoxresults td {
    vertical-align: middle;
}

tr.even table.inlinetoxresults {
    border-bottom: 0.25em solid var(--table-bg-color);
}

tr.odd table.inlinetoxresults tr:nth-child(odd) {
    background: var(--table-bg-color);
}

tr.odd table.inlinetoxresults tr:nth-child(even) {
    background: var(--table-alternate-bg-color);
}

tr.even table.inlinetoxresults tr:nth-child(odd) {
    background: var(--table-alternate-bg-color);
}

tr.even table.inlinetoxresults tr:nth-child(even) {
    background: var(--table-bg-color);
}

table.packages td.prerelease a:after {
    display: inline-block;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 3px 6px 4px 5px;
    margin: 0 0 0 5px;
    border-radius: 3px;
    text-shadow: var(--text-shadow);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: 1em;
}

table.packages td.prerelease a:after {
    content: "Pre-release";
    background-color: var(--warning-color);
    color: var(--text-shadow-color);
}

a.passed,
a.failed,
a.unknown {
    display: inline-block;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 3px 6px 4px 5px;
    margin: 0 0 0 5px;
    border-radius: 3px;
    text-shadow: var(--text-shadow);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: 1em;
}

a.passed {
    background-color: var(--success-color);
    color: var(--text-shadow-color);
}

a.failed {
    background-color: var(--fatal-color);
    color: var(--text-shadow-color);
}

a.unknown {
    background-color: var(--warning-color);
    color: var(--text-shadow-color);
}

iframe.devpidoc {
    margin: 0 calc(var(--main-margin) * -1);
    padding: 0;
    width: calc(100% + 2 * var(--main-margin));
    height: 100vh;
    border: 0;
    resize: both;
    overflow: auto;
}

.packagename {
    font-weight: bold;
    font-size: 1.25rem;
}

.packageinfo {
    margin: 0 0 1em 2em;
    padding: 0;
}

.packageinfo dl {
    vertical-align: top;
    width: 49%;
    max-width: 350px;
    display: inline-block;
    margin: 0.5em 0 0 0;
    padding: 0;
}

.packageinfo dt {
    margin: 0;
    padding: 0.125em;
}

.packageinfo dd {
    margin: 0;
    padding: 0.125em 0.125em 0.125em 0.125em;
    line-height: 1.25em;
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.packagedetails {
    font-size: 0.85rem;
    color: #202020;
}

table.projectinfos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

table.projectinfos .opened td,
table.projectinfos .closed td {
    position: relative;
    cursor: pointer;
}

table.projectinfos .closed td ul {
    height: 3.25em;
    overflow: hidden;
}

table.projectinfos .closed td ul:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3em;
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
}

table.projectinfos .opened td:after,
table.projectinfos .closed td:after {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

table.projectinfos .closed td:after {
    content: "+";
}

table.projectinfos .opened td:after {
    content: "-";
}

.projectinfos > details > summary {
    font-weight: bold;
}

.projectinfos > details > p {
    margin: 0.5em 0 0.5em 1em;
}

.projectinfos > details > ul {
    padding: 0 0 0 1em;
    margin: 0.5em 0 0.5em 1em;
}

.projectinfos > details > ul > li {
    margin: 0;
    padding: 0;
}

.subnavigation {
    background: var(--main-alternate-bg-color);
    padding: 0.5em;
}

.subnavigation span + span::before {
    content: " | ";
    margin: 0 0.25em;
}

.subnavigation a {
    display: inline-block;
}

.subnavigation .warning:before,
.subnavigation .severe:before {
    content: " ⚠️ ";
}

.subnavigation .warning,
.subnavigation .severe {
    padding: 2px 4px;
    margin: 4px -2px;
    border-radius: 3px;
}

.subnavigation .severe {
    background-color: var(--fatal-color);
    color: var(--fatal-contrast-color);
}

.subnavigation .warning {
    background-color: var(--warning-color);
    color: var(--warning-contrast-color);
}

details.toxresult {
    border: 1px solid transparent;
    margin: 2em calc(-0.5em + 1px);
    padding: 0.5em 0.5em 0.5em 2em;
}

details.toxresult div details {
    padding-left: 2em;
}

details.toxresult summary {
    margin: 0 -1.5em 1em 0;
    font-weight: bold;
}

details.toxresult summary * {
    font-weight: initial;
}

details.toxresult.failed {
    border-color: var(--fatal-color);
}

details.toxresult.passed {
    border-color: var(--success-color);
}

footer {
    position: sticky;
    top: 100vh;
    background: var(--poppy-bg-color);
    color: var(--poppy-fg-color);
    margin: 0;
    padding: 0 var(--main-margin) var(--main-margin) var(--main-margin);
    font-size: 0.9rem;
}

footer a {
    color: var(--poppy-fg-color);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width:630px) {
    header .headertop {
        flex-flow: row nowrap;
        margin: 0 var(--main-margin) 0 calc(var(--main-margin) - 1em);
   }

    header .search {
        position: relative;
        flex: 1 1 auto;
        width: auto;
    }

    header .search input {
        font-size: 1.5rem;
    }

    header > nav {
        flex-flow: row wrap;
        align-items: center;
        align-content: stretch;
    }

    a.logo {
        margin: 0 0.25em 0 0.5em;
    }

   .authenticated-user {
        margin: 0 -0.5em 0 0;
    }

    .breadcrumbs {
        margin: 0 0 0 -0.5em;
    }

    .user_index_list dl {
        flex: 0 1 20em;
    }

    .user_index_list dt {
        font-size: 1.125rem;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}

@media (min-width:900px) {
    table.main > tbody > tr > td {
        vertical-align: top;
    }

    table.main > tbody > tr > td table.inlinetoxresults td,
    table.main > tbody > tr > td {
        padding: 0.25em 0.4em;
    }

    table.main > tbody > tr > td:not(:last-child),
    table.main > thead > tr > th:not(:last-child) {
        border-right: 1px solid var(--table-border-color);
    }
}

@media (min-width:1200px) {
    main.index,
    main.version {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: min-content;
        grid-auto-flow: dense;
        align-items: start;
    }

    main.index {
        grid-template-columns: max-content auto;
    }

    main > h1.title {
        grid-column: 1 / 3;
        margin-bottom: 0;
    }

    main > .subnavigation {
        grid-column: 1 / 3;
    }

    main > .summary {
        grid-column: 1 / 3;
    }

    main > .description {
        grid-column: 2 / 2;
        grid-row: 4 / 10;
    }

    main > .index_packages {
        grid-column: 2 / 2;
        grid-row: 3 / 10;
    }

    main > .files {
        grid-column: 1 / 3;
    }
}

@media (max-width:899px) {
    table td, table th {
        display: block;
    }

    table.main > tbody > tr > td, table.main > thead > tr > th {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    table.main > tbody > tr > td,
    table.main > tbody > tr > td.toxresults,
    table.main > tbody > tr > td.releases {
        padding-left: 2em;
    }

    table.main > tbody > tr >  td:first-child {
        padding-left: .5em;
    }

    table.inlinetoxresults tr {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    table td.status {
        text-align: left;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: var(--main-bg-color-dark);
        --main-fg-color: var(--main-fg-color-dark);
        --poppy-bg-color: var(--poppy-secondary-color);
        --poppy-fg-color: var(--main-bg-color-dark);
        --header-bg-color: var(--poppy-fg-color);
        --header-fg-color: var(--poppy-bg-color);
        --muted-bg-color: var(--muted-bg-color-dark);
        --dl-dt-header-color: var(--main-fg-color);
        --dl-border-color: var(--muted-bg-color-darkened);
    }
    main a {
        color: var(--poppy-primary-color);
    }
    main a:visited {
        color: var(--poppy-primary-color-alt);
    }
    
}